@import './Variables.scss';

.about-page {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 4rem;

    @media (min-width: 768px) and (max-width: 1024px) {
      margin-top: 8rem;
    }

    @media (min-width: 1025px) {
      flex-direction: row;
      text-align: start;
      justify-content: center;
      align-items: center;
      margin: 7rem 4rem;
    }

    &__img {
      margin-top: 2rem;
      width: 18rem;
      z-index: 100;

      @media (min-width: 768px) and (max-width: 1024px) {
        width: 22rem;
      }

      @media (min-width: 1025px) {
        width: 20rem;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;

      @media (min-width: 1025px) {
        align-items: start;
        margin-left: 5rem;
        margin-top: 2rem;
      }

      &__heading {
        margin-bottom: 20px;

        &__one {
          font-size: 25px;
          font-weight: 200;
          text-transform: uppercase;
          transition: ease-in-out 0.8s;

          @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 30px;
          }

          @media (min-width: 1025px) {
            font-size: 2rem;
          }
        }

        &__two {
          text-transform: uppercase;
          font-size: 2rem;
          transition: ease-in-out 0.8s;

          @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 40px;
          }

          @media (min-width: 1025px) {
            font-size: 3rem;
          }
        }

        &__one,
        &__two {
          margin: 0;
        }
      }

      &__paragraph {
        width: 90%;
        transition: ease-in-out 0.8s;

        @media (min-width: 768px) {
          font-size: 18px;
        }

        @media (min-width: 1025px) {
          width: 100%;
        }
      }

      &__cv-button,
      a {
        display: flex;
        font-size: 20px;
        text-decoration: none;
        padding: 20px 50px;
        background-color: #8c97c5;
        color: white;
        font-weight: 600;
        border-radius: 15px;
        margin-top: 20px;
      }
    }
  }
}

.dark {
  .about-page {
    &__content {
      &__text {
        &__paragraph {
          color: rgb(210, 209, 209);
        }
        &__heading {
          &__one {
            color: rgb(205, 201, 201);
          }
          &__two {
            color: $color-white;
          }
        }
      }
    }
  }
}
