@import './Variables.scss';

html,
body {
  margin: 0;
}

.navigation {
  &__desktop {
    display: flex;
    font-size: 40px;
    padding: 1rem;
    position: fixed;

    @media (min-width: 768px) {
      display: block;
      padding: 2px;
      width: 100%;
    }
  }
  &__mobile__menu-button {
    margin-top: 10px;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  color: black;
  box-shadow: 0 0 10px #85888c;
}

.overlay .closebtn {
  position: absolute;
  left: 20px;
  font-size: 90px;
  text-decoration: none;
  color: black;
  font-weight: 100;
}
