@import './Variables.scss';

html,
body {
  background-color: $color-pink-primary;
  font-family: $font-family-primary;
}

.menu-button-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.menu-button {
  display: flex;
  width: $width-small;
  height: 3rem;
}

.opened-menu {
  display: block;
  text-transform: $text-transform-uppercase;
  background-color: $color-pink-primary;
  color: $color-white;
  margin: $margin-zero;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-button,
.opened-menu {
  @media (min-width: 768px) {
    display: none;
  }
}

.menu-fullname {
  font-size: $font-size-small;
  color: $color-white;
  text-align: center;
  margin: $margin-medium;
}

.menu-firstName,
.menu-lastName {
  margin: $margin-zero;
}
