@import './Variables.scss';

html,
body {
  margin: 0;
}

.menu-button {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    position: fixed;
    z-index: 1000;
    padding: 4% 7% 3% 88%;

    @media (min-width: 768px) {
      display: none;
    }

    &__item {
      display: flex;
      width: $base-width * 2;
      height: 3rem;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

.menu__mobile__opened {
  display: block;
  text-transform: uppercase;
  background: linear-gradient(#f7f7f7, #f3bc88);
  color: $color-black;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  @media (min-width: 768px) {
    display: none;
  }
}
