@import 'Variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.contact-page {
  &__wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    overflow: auto;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 25px;
    margin: 4rem 0 4rem 0;

    @media (min-width: 768px) and (max-width: 1024px) {
      margin: 8rem 0 4rem 0;
    }

    @media (min-width: 1025px) {
      margin: 9rem 0 4rem 0;
    }
  }

  &__form-headline {
    font-family: 'Bodoni Moda', serif;
    font-size: 3rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    text-transform: lowercase;
    color: #363739;
    transition: ease-in-out 0.8s;

    @media (min-width: 1024px) {
      font-size: 4rem;
    }
  }

  &__form-headline,
  &__form-p {
    margin: 0;
  }

  &__form-p {
    font-family: 'Square Peg', cursive;
    color: #878484;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 20px;

    @media (min-width: 1024px) {
      font-size: 4rem;
      bottom: 30px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: ease-in-out 0.8s;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 5rem;
    }
  }

  @media (min-width: 1900px) {
    font-size: 25px;
  }

  &__phone {
    text-align: center;
    margin-top: 4rem;
    font-family: 'Montserrat';

    @media (min-width: 1024px) {
      margin-top: 0;
    }

    &__text {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #4f5051;
    }

    &__link {
      text-decoration: none;
      color: $color-black;
      font-size: 22px;
    }

    &__text,
    &__link {
      margin: 5px;
      transition: ease-in-out 0.8s;
    }
  }

  &__email {
    text-align: center;
    margin-top: 4rem;
    font-family: 'Montserrat';

    @media (min-width: 1024px) {
      justify-content: space-between;
      align-items: center;
    }

    &__text {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #4f5051;
    }

    &__link {
      text-decoration: none;
      color: $color-black;
      font-size: 22px;
    }

    &__text,
    &__link {
      margin: 5px;
      transition: ease-in-out 0.8s;
    }
  }

  &__social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    @media (min-width: 1024px) {
    }

    &__links {
      list-style: none;
      transition: ease-in-out 0.8s;
      padding: 0;
      display: flex;
      gap: 10px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;

    &__send-message-p {
      margin: 0;
      font-weight: 300;

      @media (min-width: 1024px) {
        font-size: 25px;
        bottom: 30px;
      }
    }
  }

  &__input {
    list-style-type: none;
    padding: 0;

    @media (min-width: 768px) {
      width: 24rem;
    }

    @media (min-width: 1024px) {
      width: 30rem;
    }

    &__name,
    &__email {
      margin-bottom: 10px;
      width: 90%;
      padding: 15px 0 13px 15px;
      border: 1px solid #69727d;
      font-family: 'Titillium Web', sans-serif;
      font-size: 1rem;

      @media (min-width: 1024px) {
        font-size: 17px;
      }
    }

    &__message {
      padding: 12px 0 70px 15px;
      width: 90%;
      border: 1px solid #69727d;
      font-family: 'Titillium Web', sans-serif;
      font-size: 1rem;

      @media (min-width: 1024px) {
        font-size: 17px;
      }
    }
  }

  &__submit-button {
    width: 6rem;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    background-color: #63666a;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    transition: ease-in-out 0.8s;
  }
}

.dark {
  .contact-page {
    &__email__link,
    &_social-media__links {
      color: $color-white;
    }

    &__phone,
    &__email {
      &__text {
        color: #5d5d5d;
      }

      &__link {
        color: $color-black;
      }
    }

    &__submit-button {
      background-color: #5d5d5d;
      color: #fff;
    }

    &__form-p {
      color: #a7a7a7;
    }

    &__form-headline {
      color: #4b4b4b;
    }
  }
}
