@import './Variables.scss';

.home-wrapper {
  font-family: $font-family-primary;
  text-transform: $text-transform-uppercase;
  letter-spacing: $letter-spacing;

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: $padding-small;
  }
}

.home-page-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-black;
  margin-top: $margin-top-large;

  @media (min-width: 768px) and (max-width: 1024px) {
    align-items: start;
    margin-top: $margin-top-medium;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    align-items: start;
    margin-top: 4.5rem;
  }

  @media (min-width: 1281px) {
    margin-top: $margin-top-xsmall;
    align-items: start;
  }
}

.home-page-small-name,
.home-page-title {
  margin: $margin-zero;
}

.home-page-title {
  font-size: $font-size-medium;
  text-align: center;
  width: $width-xlarge;

  @media (min-width: 768px) and (max-width: 1899px) {
    font-size: $font-size-large;
  }

  @media (min-width: 1900px) {
    font-size: $font-size-xlarge;
  }
}

.home-page-right-container {
  font-size: $font-size-xsmall;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: $color-black;
  margin-top: $margin-top-medium;

  @media (min-width: 768px) and (max-width: 1899px) {
    font-size: $font-size-small;
    align-items: flex-end;
  }

  @media (min-width: 1900px) {
    margin-top: $margin-top-large;
    font-size: 2.5rem;
    align-items: flex-end;
  }
}

.home-page-firstName,
.home-page-lastName {
  margin: $margin-zero;
}

.home-page-small-name {
  font-size: $font-size-small;

  @media (min-width: 1900px) {
    font-size: $font-size-small;
  }
}
