@import '../assets/Variables.scss';

.home-page {
  &__wrapper {
    font-family: $font-family-primary;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-sm;
    display: flex;
    flex-direction: column;
    height: 100vh;

    @media (min-width: 768px) and (max-width: 1899px) {
      margin: $margin-sm;
      justify-content: space-between;
    }

    @media (min-width: 1900px) {
      padding: 10rem 10rem 0 10rem;
      justify-content: space-between;
    }
  }

  &__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-black;
    margin-top: $base-margin-top * 10;
    transition: ease-in-out 0.8s;

    @media (min-width: 768px) {
      align-items: start;
      margin-top: $base-margin-top;
    }

    &__hi {
      text-transform: lowercase;
      margin: 0;
      font-size: $font-size-sm;

      @media (min-width: 1900px) {
        font-size: $font-size-md;
      }
    }

    &__name {
      font-size: $font-size-sm;
      text-align: center;
      font-weight: 800;
      margin: 0;

      @media (max-width: 767px) {
        width: $base-width * 15;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: $base-font-size * 55;
        text-align: start;
      }

      @media (min-width: 1025px) {
        font-size: $base-font-size * 55;
        text-align: start;
      }

      @media (min-width: 1900px) {
        font-size: $font-size-xl;
      }
    }
  }

  &__career {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: $color-black;
    margin-top: $base-margin-top * 5;
    transition: ease-in-out 0.8s;

    @media (min-width: 768px) and (max-width: 1899px) {
      align-items: flex-end;
    }

    @media (min-width: 1900px) {
      margin-top: $base-margin-top * 10;
      font-size: $base-font-size * 56;
      align-items: flex-end;
    }

    &__p {
      font-size: $font-size-sm;
      text-transform: lowercase;
      margin: 0;

      @media (min-width: 1900px) {
        font-size: $font-size-md;
      }
    }

    &__title {
      font-weight: 800;
      text-align: center;
      font-size: $font-size-sm;
      margin: 0;

      @media (max-width: 767px) {
        width: $base-width * 15;
      }

      @media (min-width: 768px) {
        font-size: $base-font-size * 55;
      }

      @media (min-width: 1900px) {
        font-size: $font-size-xl;
      }
    }
  }
}

@media (min-width: 1900px) {
  .home-page__introduction {
    margin-top: $base-margin-top;
    align-items: start;
  }
}

.dark {
  .home-page {
    &__introduction {
      color: $color-white;
    }

    &__career {
      color: $color-white;
    }
  }
}
