$color-white: #ffff;

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 60px;
  margin: 7rem;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.opened-menu-link {
  text-decoration: none;
  color: $color-white;
}
