@import 'Variables.scss';

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $font-size-ul-mobile;
  margin: 7rem;
  gap: $gap-sm;
  list-style: none;
  padding: 0;
}

.opened-menu-link {
  text-decoration: none;
  color: $color-white;
}
