@import 'Variables.scss';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  list-style: none;
  gap: $gap-mobile;
}

.navbar-link {
  text-decoration: none;
  color: $color-black;
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}

@media (min-width: 1201px) {
  .navbar {
    justify-content: flex-end;
    gap: $gap-desktop;
  }
}

@media (min-width: 1900px) {
  .navbar {
    font-size: 35px;
  }
}
