// Base Variables
$bg-color-pink-primary: #d4abb2;
$font-family-primary: 'Raleway';
$base-margin-top: 1rem;
$base-width: 1rem;
$base-padding: 10px;

// Color Variables
$color-black: #1e1e1e;
$color-white: #ffff;

// Font Variables
$font-size-h2-mobile: 3rem;
$font-size-h2-mobile-md: 4rem;
$font-size-h2-mobile-lg: 5rem;

$font-size-h3-mobile: 2rem;

$letter-spacing: -2px;
