// Base Variables
$color-pink-primary: #d4abb2;
$font-family-primary: 'Raleway';
$base-margin-top: 1rem;
$base-width: 1rem;
$base-padding: 10px;

// Color Variables
$color-black: #1e1e1e;
$color-white: #ffff;

// Font Variables
$font-size-xsmall: 1.5rem;
$font-size-small: 2rem;
$font-size-medium: 3rem;
$font-size-large: 4rem;
$font-size-xlarge: 5rem;
$letter-spacing: -2px;
