@import 'Variables.scss';

.work-page {
  &__wrapper {
    color: $color-black;
    display: flex;
    flex-direction: column;

    @media (min-width: 1201px) and (max-width: 1899px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 50px 20px 0 20px;
      margin: $margin-sm;
    }

    @media (min-width: 1900px) {
      flex-direction: row;
      padding-right: 20px;
      height: 80vh;
      justify-content: space-between;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    margin: 7rem 2rem;
    transition: ease-in-out 0.8s;

    @media (min-width: 768px) and (max-width: 1200px) {
      align-items: center;
      text-align: center;
      font-size: $font-size-xs;
      margin: 0;
    }

    @media (min-width: 1201px) and (max-width: 1899px) {
      justify-content: flex-end;
      font-size: $font-size-xs;
      width: $base-width * 30;
      margin: 0;
    }

    @media (min-width: 1900px) {
      justify-content: flex-end;
      width: $base-width * 40;
      margin-bottom: 5rem;
    }

    &__title {
      text-transform: uppercase;
      font-weight: 600;

      @media (min-width: 1900px) {
        font-size: 30px;
      }
    }

    &__desc {
      margin: 0;
      line-height: 1.7rem;

      @media (min-width: 768px) and (max-width: 1200px) {
        width: $base-width * 30;
      }

      @media (min-width: 1900px) {
        font-size: $base-font-size * 20;
      }
    }
  }
  &__projects-container {
    display: flex;
    transition: ease-in-out 0.8s;

    @media (min-width: 768px) and (max-width: 1200px) {
      justify-content: center;
      margin-top: $base-margin-top * 5;
    }

    @media (min-width: 1201px) {
      justify-content: flex-end;
    }

    &__projects {
      display: flex;
      flex-direction: column;
      gap: $gap-sm;
      list-style: none;
      text-transform: uppercase;

      @media (min-width: 768px) and (max-width: 1200px) {
        justify-content: center;
        align-items: center;
        padding: 0;
      }

      @media (min-width: 1201px) and (max-width: 1899px) {
      }

      @media (min-width: 1900px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__project {
    display: flex;
    flex-direction: column;
    gap: $gap-xs;

    &__project-label {
      font-family: 'Raleway';
      font-weight: 800;
      letter-spacing: $letter-spacing-xs;
      font-size: $base-font-size * 40;
      letter-spacing: -0.1rem;

      @media (min-width: 1201px) and (max-width: 1899px) {
        font-size: $font-size-lg;
      }

      @media (min-width: 1900px) {
        font-size: $font-size-lg;
      }
    }

    &__project-text {
      @media (min-width: 1201px) and (max-width: 1899px) {
        font-size: $base-font-size * 25;
      }

      @media (min-width: 1900px) {
        font-size: $font-size-sm;
      }
    }
  }
}

.dark {
  .work-page {
    &__text-container {
      color: $color-white;
    }

    &__projects-container {
      color: $color-white;
    }
  }
}
