@import './Variables.scss';

.main-wrapper {
  font-family: $font-family-primary;
  display: flex;
  flex-direction: column;
  background: url(https://img.freepik.com/free-vector/hand-drawn-painted-whitewash-background_23-2151171148.jpg?w=1800&t=st=1720194682~exp=1720195282~hmac=c9382bd8affc1f72f9a7f49b61adc69742abf9c020779cd63cee63767eccef94);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  transition: ease-in-out 0.8s;
}

.toggle-dark-button {
  width: 55px;
  height: 30px;
  background: #8c97c5;
  border-radius: 100px;
  position: fixed;
  left: 1rem;
  bottom: 2rem;
  transition: ease-in-out 0.5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;

  @media (min-width: 1025px) {
    display: block;
  }
}

.main-wrapper.dark {
  background: #424242;
}

.dark {
  .toggle-dark-button {
    background: white;
  }
}
