@import '../assets/Variables.scss';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  gap: 60px;
  list-style: none;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 1025px) {
    gap: 80px;
    margin: 2rem;
  }

  @media (min-width: 1201px) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: 1900px) {
    font-size: 35px;
  }

  .navbar-link {
    text-decoration: none;
    color: $color-black;
    transition: ease-in-out 0.8s;
  }
}

.dark {
  .navbar-link {
    color: $color-white;
  }
}
