$color-white: #ffff;
$base-gap: 20px;

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 60px;
  margin: 7rem;
  gap: $base-gap * 2;
  list-style: none;
  padding: 0;

  .opened-menu-link {
    text-decoration: none;
    color: $color-white;
  }
}
