@import '../assets/Variables.scss';

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $base-font-size * 40;
  margin: 10rem 2rem;
  gap: 40px;
  list-style: none;
  padding: 0;

  .opened-menu-link {
    text-decoration: none;
    color: $color-black;
  }
}

.dark {
  .menu-links {
    color: $color-white;
  }
}
