$margin-top-small: 5rem;
$margin-top-large: 10rem;
$margin-zero: 0;
$padding-small: 10px;
$width-small: 2rem;
$width-xlarge: 15rem;

// Color Variables
$color-pink-primary: #d4abb2;
$color-black: #1e1e1e;
$color-white: #ffff;

// Font Variables
$font-family-primary: 'Raleway';
$font-size-xsmall: 1.5rem;
$font-size-small: 2rem;
$font-size-medium: 4rem;
$letter-spacing: -2px;
$text-transform-uppercase: uppercase;
